.card-container {
  position: relative;
  max-width: 90rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

@media screen and (max-width: 800px) {
  .card-container {
    max-width: 70rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .card-container {
    max-width: 35rem;
    grid-template-columns: 1fr;
  }
}
